.dialog-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-animation: .5s;
  animation:.5s;
}

.dialog{
  position: fixed;
  background: white;
  color:  #444;
  border:1px solid #666;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: auto;
  display: table;
  min-width:800px;
  border-radius: 5px 5px 0 0;
  z-index: 10000;
  max-width: 100%;
  &--container{
    padding: 10px 20px;
  }
  &--title{
    margin-bottom: 10px;
  }
  .button-wrapper{
    padding: 15px 0;
    margin: 0 10px 0 0;
    float: right;
  }
  &--no-header{
    -webkit-animation:.5s;
    animation: .5s;
    background: #f3f3f3;
    border-radius: 5px;
    line-height: 1.5em;
    padding: 1em;
    width: 450px;
  }
  .editor-wrapper{
    width: 100%;
  }
  .submit {
    margin-right: 10px;
    font-size: 20px;
  }

  .cancel {
    margin-right: 10px;
    font-size: 13px;
  }
}

.header-title {
  background: #324579;
  color: #eee;
  font-size: 16px;
  padding: 10px;
  margin: 0;
  border-radius: 3px 3px 0 0;
}

.form-field {
  padding: 5px 0;
  label {
    display: block;
    font-size: 14px;
  }
  input[type=text], input, textarea {
    width: 100%;
    min-width: 198px;
    display: inline-block;
    margin: 2px;
    padding: 8px 10px;
    color: #363463;
    background-color: white;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
}
